<!-- Project Breakpoints for Guest -->
<div class="project-breakpoints">
  <% project.breakpoints.each do |b| %>
    <div class="breakpoint" data-breakpoint-id="<%= b.id %>">
      <%= render b %>
    </div>
  <% end %>
</div>