<!-- Project Breakpoints for Owner -->
<div class="project-breakpoints">
  <% project.breakpoints.each do |b| %>
    <div class="breakpoint owner" data-breakpoint-id="<%= b.id %>">
      <div class="backers"><%= b.backers.count %> Backers</div>
      <div class="total-pledged">$<%= b.total_pledged %> Pledged</div>
      <%= render b %>
    </div>
  <% end %>
</div>