<div class="breakpoint" data-breakpoint-id="<%= breakpoint.id %>" data-role="<%= role %>">
  <div class="breakpoint-amount">$ <%= breakpoint.amount %></div>
  <div class="breakpoint-description"><%= breakpoint.description %></div>
</div>