<div class="welcome-page">
  <h1>Welcome to CrowdFunder</h1>
  <p>Where Dreams Come True</p>

  <%= link_to "See the projects", projects_path, class: 'btn' %>
  <%= link_to "I have a project", new_project_path, class: 'btn' %>
</div>

