<div class="project-breakpoints">

  <% project.breakpoints.each do |b| %>

    <div class="breakpoint" data-breakpoint-id="<%= b.id %>">
      <div class="detail">
        <div class="amount">$<%= b.amount %></div>
        <div class="description"><%= b.description %></div>
      </div>
    </div>

  <% end %>

</div>