<%= link_to project, class: "project-link" do %>

<div id="project-<%= project.id %>" class="project">
  <div class="project-name"><%= project.name %></div>
  <div class="project-owner">by <%= project.owner.username %></div>
  <% project.tags do |tag| %>
  <% end %>

  <div class="project-progress">

  </div>
</div>
<% end %>