<% provide :page_title, "All Projects" %>

<div class="projects-page">
  <legend class="title">All Projects</legend>

  <ul class="projects">
  <% @projects.each do |p| %>
    <li class="item"><%= render p %></li>
  <% end %>
  </ul>
</div>



