@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800);

* {
          box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: rgba(240, 240, 240, 1);
  margin-top: 60px;
}