@import 'color';
@import 'mixin';

.project-feed {
  margin-bottom: 40px;

  .control {
    float: right;
    li {
      display: inline-block;
      a {
        color: $black + 50;
        text-decoration: none;
        &:hover {
          color: $blue - 50;
        }
      }
    }
  }

  .project-name {
    color: $blue - 50;
    text-decoration: none;
    font-weight: 800;
    font-size: 1em;
  }

  .created {
    color: $black + 50;
    font-size: 0.8em;
  }

  .project-summary {
    margin-top: 10px;

    .goal {
      margin-bottom: 10px;
      color: $black + 50;
      font-weight: 600;
    }

    canvas {
      margin-bottom: -90px;
      width: 100px;
      height: 200px;
    }

    .backers-knob,
    .totals-knob,
    .time-to-go-knob {
      z-index: 5;
      display: inline-block;
      font-size: 12px!important;
    }
  }
}

.pledge-feed {
  margin-bottom: 15px;
  font-size: 0.9em;
  strong {
    text-transform: capitalize;
    font-weight: 400;
  }
  small.amount {
    display: inline-block;
    padding: 3px 6px 3px 10px;
    background: $blue - 50;
    color: $blue + 100;
    text-align: right;
    font-size: 12px;

  }
  .project-link {
    color: $black;
    letter-spacing: -1px;
    &:hover {
      color: $black - 50;
      text-decoration: underline;
    }
  }
  .created {
    position: relative;
    float: right;
    color: $black + 50;
    font-size: 0.8em;
    letter-spacing: -1px;
    top: 3px;
  }


}