@import 'color';
@import 'mixin';

.project-breakpoints {

  .breakpoint {
    @include animate;
    @include shadow;
    margin: 10px 0px;
    padding: 10px 20px;
    border: 3px solid $black + 150;
    background: $white;

    &:hover {
      background: $yellow + 50;
    }
  }

  .detail {
    position: relative;
    margin-top: 10px;

    .amount {
      position: relative;
      display: block;
      margin-bottom: 10px;
      padding: 5px 10px;
      background: $red - 100;
      color: $white;
      text-align: right;
      font-weight: 800;
      font-size: 3em;
    }
    .description {
      color: $black;
      font-size: 1em;
    }
  }

}
