@import 'color';

@mixin flash-message($color) {
  position: relative;
  left: -1px;
  margin-bottom: 10px;
  padding: 10px 10px;
  width: calc(100% + 2px);
  border: 1px solid $color - 50;
  background: $color;
  color: $color - 100;

  .close {
    position: relative;
    top: -3px;
    float: right;
    padding-bottom: 4px;
    border: none;
    border-radius: 100%;
    background: $color - 20;
    color: $color + 100;
    &:hover {
      background: $color - 100;
      color: $color + 50;
    }
  }
}

.flash-info { @include flash-message($blue); }
.flash-success { @include flash-message($green); }
.flash-warning { @include flash-message($yellow); }
.flash-danger { @include flash-message($red); }


.flash-error {
  @include flash-message($red);
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  ul {
    li {
      margin-bottom: 5px;
    }
  }
}