@import 'mixin';
@import 'color';

@mixin form($background) {
  padding: 60px;
  background: $background;

  .form-container {
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
    width: 600px;
    border: 1px solid $black;
    border-radius: 10px;
    background: $white;

    legend.form-title {
      margin-bottom: 20px;
      padding: 5px 10px;
      width: 100%;
      color: $black;
      text-align: right;
      font-weight: 800;
      font-size: 2em;
    }

    .form-field {
      width: 100%;
      margin-bottom: 5px;
    }

    .form-label,
    .form-control {
      display: inline-block;
      margin: 5px;
    }

    .form-label {
      width: 100px;
      text-align: right;
      font-weight: 100;
      font-size: 0.8em;
    }

    .form-control {
      width: calc(100% - 130px);

      input,
      select,
      textarea {
        @include animate;
        @include black;
        padding: 10px 10px;
        width: 100%;
        border: 1px solid $black;

        &:hover, &:focus, &:active {
          outline: none;
          border: 1px solid $blue;
        }
      }
      textarea {
        height: 20em;
        vertical-align: top;
        resize: vertical;
      }
      select {
        width: 32.5%;
        outline: none;
        border-radius: 0px;
        -webkit-appearance: none;
      }

      .form-btn {
        @include btn(rgba(240, 240, 240, 1));
        width: 49.45%;
      }
    }
  }
  .form-container {
    .form-field {
      .field_with_errors {
        display: inline-block;
        .form-label {
          color: $red - 100;
          font-weight: 400;
        }
      }
      .form-control .field_with_errors {
        width: 100%;
        input, textarea, select {
          border: 1px solid $red - 100;
        }
      }
    }
  }
}

.form { @include form($white); }
