@import 'color';
@import 'mixin';

.user-page {
  padding: 20px;
  h1.title,
  h2.title {
    color:  $black;
    display: block;
    padding: 10px 0px;
    width: 100%;
    font-weight: 800;
    font-size: 2em;
  }
  h2.title {
    font-size: 1.2em;
    color: $black + 20;
    margin-bottom: 10px;
  }
  h1 a, h2 a {
    color: $black + 20;
    text-decoration: none;
    &:hover {
      color: $blue - 50;
    }
  }
}

.user-feed {
  display: inline-block;
  min-height: 200px;
  width: calc(100% - 210px);
  vertical-align: top;

  .own-projects,
  .backed-projects {
    @include shadow;
    display: inline-block;
    padding: 5px 10px;
    min-height: 300px;
    width: 49%;
    border: 1px solid $black + 150;
    background: $white;
    vertical-align: top;

    .message {
      @include black;
      margin-top: 40px;
      text-align: center;
      font-size: 1.2em;
    }

    a.btn {
      @include btn($green);
      margin-top: 20px;
      font-size: 1em;
    }
  }

}

.user-profile {
  display: inline-block;

  min-height: 200px;
  width: 200px;
  text-align: center;

  .info {
    @include shadow;
    padding: 10px 0px 50px;
    background: $white;
  }
  .gravatar {
    border: 0px solid $black + 150;
  }
  .username {
    margin-bottom: 5px;
    color: rgba(80, 80, 80, 1);
    font-weight: 600;
    font-size: 2em;
  }
  .member-since {
    color: rgba(100, 100, 100, 1);
    font-size: 1em;
  }
}