@import 'color';
@import 'mixin';

.welcome-page {
  border-top: 1px solid $white - 100;
  border-bottom: 1px solid $white - 100;
  padding: 100px 100px;
  text-align: right;
  background: $white;

  h1 {
    font-size: 4em;
    font-weight: 800;
    color: $black;
    text-shadow: 0 0 2px rgba(40, 40, 40, 0.5);
  }

  p {
    font-size: 2em;
    letter-spacing: -1px;
    font-weight: 100;
    color: $black;
    margin-bottom: 10px;
  }

  .btn {
    @include btn($blue);
    width: 210px;
  }
}